{"filter":false,"title":"requirements.txt","tooltip":"/requirements.txt","undoManager":{"mark":1,"position":1,"stack":[[{"start":{"row":4,"column":0},"end":{"row":5,"column":0},"action":"remove","lines":["Django==2.0.2",""],"id":6}],[{"start":{"row":2,"column":0},"end":{"row":3,"column":0},"action":"remove","lines":["botocore==1.13.22",""],"id":7}]]},"ace":{"folds":[],"scrolltop":0,"scrollleft":0,"selection":{"start":{"row":2,"column":0},"end":{"row":2,"column":0},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":0},"timestamp":1582646414798,"hash":"d98285a3bd473d79633cf5a3a2fd9c541d21c852"}