{% extends 'base.html' %} {% block title %}
<title>Request Tracker | Actions</title>{% endblock %} {% block content %}


<div class="container-fluid">
    <div class="row">
        <div class="col s12">
            <h4>Actions</h4>
        </div>
    </div>
</div>

{% if current_user.user_type in (1,2,3,4) %}

<!-- Action Users -->
<div class="container-fluid">
    {% for action in actions %}

    <div class="row branded-blue text-white valign-wrapper">
        <div class="col hide-on-small-and-down m2">
            {% if action.stage == 1 %}
            <p><i class="material-icons">add_box</i>Health & Safety</p>
            {% elif action.stage == 2 %}
            <p><i class="material-icons">search</i> Quality</p>
            {% elif action.stage == 3 %}
            <p><i class="material-icons">shopping_cart</i> Cagefill</p>
            {% else %}
            <p><i class="material-icons">restaurant</i> Restaurant Impact</p>
            {% endif %}
        </div>

        <div class="col s5 m3 l2 center">
            <a class="btn waves-effect waves-light" href="{{ url_for('action.action_answer', action_id=action.id) }}">Go To Action</a>
        </div>

        <div class="col s3 l2">
            <p>{{ action.created_on.strftime('%d/%m/%Y') }} - {{ action.action_post.title }}</p>
        </div>

        <div class="col hide-on-med-and-down l2 center">
            <p>Product: {{ action.action_post.product_number }} - {{ action.action_post.product_name }}</p>
        </div>

        <div class="col hide-on-med-and-down l2 center">
            <p>Supplier: {{ action.action_post.supplier.supplier_name }}</p>
        </div>

        <div class="col s4 l2 center">
            {% if action.approval == 1 %}
            <h6 class="red-text">Rejected</h6>
            {% elif action.approval == 2 %}
            <h6 class="yellow-text">Further information</h6>
            {% elif action.approval == 3 %}
            <h6 class="green-text">Approved</h6>
            {% else %}
            <h6>Action Pending</h6>
            {% endif %}
        </div>

    </div>

    {% endfor %}
</div>

<!--Tracker Users -->

{% else %}

<div class="container-fluid">
    {% for action in actions %} {% if action.approval == 0 %}

    <div class="row branded-blue text-white valign-wrapper">
        <div class="col hide-on-small-and-down m2">
            {% if action.stage == 1 %}
            <p><i class="material-icons">add_box</i>Health & Safety</p>
            {% elif action.stage == 2 %}
            <p><i class="material-icons">search</i> Quality</p>
            {% elif action.stage == 3 %}
            <p><i class="material-icons">shopping_cart</i> Cagefill</p>
            {% else %}
            <p><i class="material-icons">restaurant</i> Restaurant Impact</p>
            {% endif %}
        </div>

        <div class="col s5 m3 l2 center">
            <a class="btn waves-effect waves-light" href="{{ url_for('action.action_edit', action_id=action.id) }}">Go to Action</a>
        </div>

        <div class="col s3 l2">
            <p>{{ action.created_on.strftime('%d/%m/%Y') }} - {{ action.action_post.title }}</p>
        </div>

        <div class="col hide-on-med-and-down l2 center">
            <p>Product: {{ action.action_post.product_number }} - {{ action.action_post.product_name }}</p>
        </div>

        <div class="col hide-on-med-and-down l2 center">
            <p>Supplier: {{ action.action_post.supplier.supplier_name }}</p>
        </div>

        <div class="col s4 l2 center">
            {% if action.approval == 1 %}
            <h6 class="red-text">Rejected</h6>
            {% elif action.approval == 2 %}
            <h6 class="yellow-text">Further information</h6>
            {% elif action.approval == 3 %}
            <h6 class="green-text">Approved</h6>
            {% else %}
            <h6>Action Pending</h6>
            {% endif %}
        </div>

    </div>

    {% else %}

    <div class="row branded-grey text-white valign-wrapper action-toggle">
        <div class="col hide-on-small-and-down m2">
            {% if action.stage == 1 %}
            <p><i class="material-icons">add_box</i>Health & Safety</p>
            {% elif action.stage == 2 %}
            <p><i class="material-icons">search</i> Quality</p>
            {% elif action.stage == 3 %}
            <p><i class="material-icons">shopping_cart</i> Cagefill</p>
            {% else %}
            <p><i class="material-icons">restaurant</i> Restaurant Impact</p>
            {% endif %}
        </div>

        <div class="col s5 m3 l2 center">
            <a class="btn waves-effect waves-light modal-trigger" href="#modal{{ action.id }}">Feedback</a>
        </div>

        <div class="col s3 l2">
            <p>{{ action.created_on.strftime('%d/%m/%Y') }} - {{ action.action_post.title }}</p>
        </div>

        <div class="col hide-on-med-and-down l2 center">
            <p>Product: {{ action.action_post.product_number }} - {{ action.action_post.product_name }}</p>
        </div>

        <div class="col hide-on-med-and-down l2 center">
            <p>Supplier: {{ action.action_post.supplier.supplier_name }}</p>
        </div>

        <div class="col s4 l2 center">
            {% if action.approval == 1 %}
            <h6 class="red-text">Rejected</h6>
            {% elif action.approval == 2 %}
            <h6 class="yellow-text">Further information</h6>
            {% elif action.approval == 3 %}
            <h6 class="green-text">Approved</h6>
            {% else %}
            <h6>Action Pending</h6>
            {% endif %}
        </div>

    </div>

    <div id="modal{{ action.id }}" class="modal">
        <div class="modal-content">
            <h4>Feedback</h4>
            <p>{{ action.feedback }}</p>
            {% if action.stage != 1 %}
            <table class="centered branded-product-table">
                <thead class="text-white">
                    <tr>
                        <th>Description</th>
                        <th>Current</th>
                        <th>Proposed</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Cases per Layer</td>
                        <td>{{ action.ex_case_per_layer }}</td>
                        <td>{{ action.case_per_layer }}</td>
                    </tr>
                    <tr>
                        <td>Layers Per Stack</td>
                        <td>{{ action.ex_total_layers }}</td>
                        <td>{{ action.total_layers }}</td>
                    </tr>
                    <tr>
                        <td>Total Cases</td>
                        <td>{{ action.ex_total_cases }}</td>
                        <td>{{ action.total_cases }}</td>
                    </tr>
                    <tr>
                        <td>Total Units</td>
                        <td class="numberFormat">{{ action.ex_total_cases * action.action_post.ex_units_per_case }}</td>
                        <td class="numberFormat">{{ action.total_cases * action.action_post.units_per_case }}</td>
                    </tr>
                </tbody>
            </table>
            {% endif %}
        </div>
        <div class="modal-footer">
            <a href="#!" class="modal-close waves-effect waves-green btn-flat">OK</a>
        </div>
    </div>
    {% endif %} {% endfor %} {% endif %}

    <!--Toggle Actions 'Complete' status on/off Button-->

    <div class="fixed-action-btn">
        <a id="action-toggle" class="btn-floating btn-large tooltipped" data-position="left" data-tooltip="Toggle Complete Actions" href="#">
            <i class="material-icons left">filter_list</i>
        </a>
    </div>

</div>

{% endblock content %}{% block script %}

<script type="text/javascript">
    $(document).ready(function() {

        $("#action-toggle").click(function() {
            $(".action-toggle").toggle()
        });
    });
</script>

{% endblock script %}
