{% extends 'base.html' %} 
{% block title %}<title>Request Tracker | Home</title>{% endblock %}

{% block content %}

    <div class="container-fluid">

        <div class="row valign-wrapper branded-side-padding">
            <div class="col s12 l8">
                <h4 class="branded-title">Request Tracker</h4>
            </div>
            <div class="col hide-on-med-and-down l1 center">
                <h6>Health & Safety</h6>
            </div>
            <div class="col hide-on-med-and-down l1 center">
                <h6>Quality</h6>
            </div>
            <div class="col hide-on-med-and-down l1 center">
                <h6>Cage Fill</h6>
            </div>
            <div class="col hide-on-med-and-down l1 center">
                <h6>Restaurant</h6>
            </div>
        </div>

        <ul class="collapsible">
            {% for post in posts %}
            
            <!--Apply "wiggle" animation for error hangling-->
            
                <li class="">

                <div class="collapsible-header branded-blue">

                    <!--Product Type Image-->
                    <div class="post-img-container post-center">
                        {% if post.status == "Approved" %}
                        <img class="product-img border-branded-blue" src="{{ url_for('static', filename='media/img/approved.png') }}" alt="Approved">
                        {% elif post.status == "Rejected" %}
                        <img class="product-img border-branded-blue" src="{{ url_for('static', filename='media/img/rejected.png') }}" alt="Rejected">
                        {% else %}
                        <img class="product-img border-branded-blue" src="{{ url_for('static', filename=post.product_type.image) }}" alt="{{ url_for('static', filename=post.product_type.image) }}">
                        {% endif %}
                    </div>
                    
                    <!--Action Button Dropdown Trigger-->
                    <div class="post-btn-container post-left">
                        <a class='dropdown-trigger btn' href='#' data-target='dropdown{{ post.id + 1 }}' data_id="{{ post.title }}">Action</a>
                        <!-- Dropdown Structure -->
                        <ul id='dropdown{{ post.id + 1 }}' class='dropdown-content post-dropdown'>
                            {% if current_user.user_type in (1,2,3,4) %}
                            <li><a href="{{ url_for('action.post_actions', post_id=post.id) }}"><i class="material-icons">call_missed_outgoing</i>Go To Action</a></li>
                            <li><a href="{{ url_for('main.output_form', post_id=post.id) }}"><i class="material-icons">assessment</i>Output</a></li>
                            {% else %}
                            <li><a href="{{ url_for('action.post_actions', post_id=post.id) }}"><i class="material-icons">format_list_numbered</i>All Actions</a></li>
                            <li><a href="{{ url_for('action.action_add', post_id=post.id) }}"><i class="material-icons">add</i>Actions</a></li>
                            <li><a href="{{ url_for('main.edit_request', post_id=post.id) }}"><i class="material-icons">edit</i>Manage</a></li>
                            <li><a href="{{ url_for('main.output_form', post_id=post.id) }}"><i class="material-icons">assessment</i>Output</a></li>
                            <li><a class="modal-trigger action-toggle" href="#modal{{ post.id }}"><i class="material-icons">check</i>Complete</a></li>
                            {% endif %}
                        </ul>
                    </div>

                    <!--Product Title-->
                    <div class="post-content-container white-text post-left">
                        {{ post.title }}
                    </div>

                <!--Loop through Actions to allocate color based on status-->
                     
                    <!--Actions-->
                    
                    <!--Health & Safety Action-->
                    <div class="post-action-container post-center">
                        {% if post.healthandsafety == 1 %}
                            <div class="post-action deep-orange accent-3"></div>
                        {% elif post.healthandsafety == 2 %}
                            <div class="post-action yellow darken-1"></div>
                        {% elif post.healthandsafety == 3 %}
                            <div class="post-action green accent-3"></div>
                        {% else %}
                            <div class="post-action grey"></div>
                        {% endif %}
                    </div>
                    
                    <!--Quality Action-->
                    <div class="post-action-container post-center">
                        {% if post.quality == 1 %}
                            <div class="post-action deep-orange accent-3"></div>
                        {% elif post.quality == 2 %}
                            <div class="post-action yellow darken-1"></div>
                        {% elif post.quality == 3 %}
                            <div class="post-action green accent-3"></div>
                        {% else %}
                            <div class="post-action grey"></div>
                        {% endif %}
                    </div>

                    <!--Cagefill Action-->
                    <div class="post-action-container post-center">
                        {% if post.cagefill == 1 %}
                            <div class="post-action deep-orange accent-3"></div>
                        {% elif post.cagefill == 2 %}
                            <div class="post-action yellow darken-1"></div>
                        {% elif post.cagefill == 3 %}
                            <div class="post-action green accent-3"></div>
                        {% else %}
                            <div class="post-action grey"></div>
                        {% endif %}
                    </div>

                    <!--Restaurant Impact Action-->
                    <div class="post-action-container post-center">
                        {% if post.restaurantimpact == 1 %}
                            <div class="post-action deep-orange accent-3"></div>
                        {% elif post.restaurantimpact == 2 %}
                            <div class="post-action yellow darken-1"></div>
                        {% elif post.restaurantimpact == 3 %}
                            <div class="post-action green accent-3"></div>
                        {% else %}
                            <div class="post-action grey"></div>
                        {% endif %}
                    </div>

                </div>

                <!--Request Collapsed detail for further information-->
                <div class="collapsible-body">
                    <div class="row">
                        <div class="col s12 l6">
                            <table class="centered branded-table highlight">
                                <thead>
                                    <tr>
                                        <th>Request Details</th>
                                        <th>{{ post.product_name }}</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Product Number:</td>
                                        <td>{{ post.product_number }}</td>
                                    </tr>
                                    <tr>
                                        <td>Supplier:</td>
                                        <td>{{ post.supplier.supplier_name }}</td>
                                    </tr>
                                    <tr>
                                        <td>Request Date:</td>
                                        <td>{{ post.date_posted.strftime('%d/%m/%Y') }}</td>
                                    </tr>
                                </tbody>
                            </table>
                            <h5 class="center">Request Details</h5>
                            <p>{{ post.content }}</p>
                        </div>
                        <div class="col s12 l6">
                            <table class="centered branded-product-table highlight">
                                {% if post.ex_product_length == 0 %}
                                <thead>
                                    <tr>
                                        <th>Case Info</th>
                                        <th>Current</th>
                                        <th>Proposed</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Length:</td>
                                        <td>N/A</td>
                                        <td>{{ post.product_length }} mm</td>
                                    </tr>
                                    <tr>
                                    </tr>
                                        <td>Width:</td>
                                        <td>N/A</td>
                                        <td>{{ post.product_width }} mm</td>
                                    </tr>
                                    <tr>
                                        <td>Height:</td>
                                        <td>N/A</td>
                                        <td>{{ post.product_height }} mm</td>
                                    </tr>
                                    <tr>
                                        <td>Weight:</td>
                                        <td>N/A</td>
                                        <td>{{ post.product_weight }} KG</td>
                                    </tr>
                                    <tr>
                                        <td>Units Per Case:</td>
                                        <td>N/A</td>
                                        <td>{{ post.units_per_case }}</td>
                                    </tr>
                                    <tr>
                                        <td>Inners Per Case:</td>
                                        <td>N/A</td>
                                        <td>{{ post.inners_per_case }}</td>
                                    </tr>
                                </tbody>
                                {% else %}
                                <thead>
                                    <tr>
                                        <th>Case Info</th>
                                        <th>Current</th>
                                        <th>Proposed</th>
                                        <th>Difference</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Length:</td>
                                        <td>{{ post.ex_product_length }} mm</td>
                                        <td>{{ post.product_length }} mm</td>
                                        <td>{{ post.product_length - post.ex_product_length }} mm</td>
                                    </tr>
                                    <tr>
                                    </tr>
                                        <td>Width:</td>
                                        <td>{{ post.ex_product_width }} mm</td>
                                        <td>{{ post.product_width }} mm</td>
                                        <td>{{ post.product_length - post.ex_product_length }} mm</td>
                                    </tr>
                                    <tr>
                                        <td>Height:</td>
                                        <td>{{ post.ex_product_height }} mm</td>
                                        <td>{{ post.product_height }} mm</td>
                                        <td>{{ post.product_height - post.ex_product_height }} mm</td>
                                    </tr>
                                    <tr>
                                        <td>Weight:</td>
                                        <td>{{ post.ex_product_weight }} KG</td>
                                        <td>{{ post.product_weight }} KG</td>
                                        <td>{{ post.product_weight - post.ex_product_weight }} mm</td>
                                    </tr>
                                    <tr>
                                        <td>Units Per Case:</td>
                                        <td>{{ post.ex_units_per_case }}</td>
                                        <td>{{ post.units_per_case }}</td>
                                        <td>{{ post.units_per_case - post.ex_units_per_case }} mm</td>
                                    </tr>
                                    <tr>
                                        <td>Inners Per Case:</td>
                                        <td>{{ post.ex_inners_per_case }}</td>
                                        <td>{{ post.inners_per_case }}</td>
                                        <td>{{ post.inners_per_case - post.ex_inners_per_case }} mm</td>
                                    </tr>
                                </tbody>
                                {% endif %}
                            </table>
                        </div>
                    </div>
                </div>
            </li>
            <div id="modal{{ post.id }}" class="modal">
                <div class="modal-content">
                    <h4>Approval</h4>
                    <p>Please select from the following two options:</p>
                    <a class="waves-effect waves-light btn" href="{{ url_for('main.complete_request', post_id=post.id, status='Rejected') }}"><i class="material-icons">error_outline</i>Reject</a>
                    <a class="waves-effect waves-light btn" href="{{ url_for('main.complete_request', post_id=post.id, status='Approved') }}"><i class="material-icons">check_circle</i>Approve</a>
                </div>
                <div class="modal-footer">
                    <a href="#!" class="modal-close waves-effect waves-green btn-flat">OK</a>
                </div>
            </div>
            {% endfor %}
        </ul>
        
    </div>
    
    
{% endblock content %}
