{% extends 'base.html' %}
{% block title %}<title>Supplier | Add Supplier</title>{% endblock %}

{% block content %}

    <div class="container-fluid">
        <div class="row">
            <div class="col s12">
                <h4 class="branded-title">Add Supplier</h4>
            </div>
        </div>
    </div>

    <div class="container">
        <form method="POST" action="{{ url_for('supplier.supplier_add') }}">
            <div class="row">
                <div class="input-field col s12">
                    <input name="supplier_name" type="text" class="validate" required>
                    <label for="supplier_name">Supplier Name</label>
                </div>
            <div class="row">
                <button class="btn waves-effect waves-light" type="submit">Submit<i class="material-icons right">send</i></button>
            </div>
        </form>
    </div>

{% endblock content %}
